/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
/* END COMMON */

/* HEADER */
header{
    background-color: #2e3b46;
    padding: 10px 20px;
}
header img{
    width: 30px;
    display: block;
}
/* END HEADER */

/* MAIN */
main{
    background-color: #1e2e3d;
    height: calc( 100vh - 50px );
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

/* Filter */
.filter-select{
    text-align: center;
    padding-top: 20px;
    color: #fff;
}
.filter-select select{
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

/* Albums Wrapper */
.albums-wrapper{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-container{
    padding: 0 10px;
    width: 180px;
    margin-bottom: 20px;
}

/* Single Album */
.album-container .album{
    background-color: #2e3b46;
    padding: 15px;
    height: 100%;
}
.album-container .album img{
    width: 100%;
    display: block;
}

.album-container .album .album-info{
    text-align: center;
}
.album-container .album .album-info .album-name{
    color: #fff;
    padding: 20px 0;
}
.album-container .album .album-info .album-artist{
    color: #808080;
    font-size: 12px;
}
/* END MAIN */