<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Dischi</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">
        <!-- START HEADER -->
        <header>
            <img src="img/download.png" alt="Spotify Logo">
        </header>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <main>
            <!-- Start Filter Select -->
            <div class="filter-select">
                <label for="filter-by-genre">Filter by genre</label>
                <select id="filter-by-genre" v-model="selected" @change="filerByGenre">
                    <option hidden value="">-- All --</option>
                    <option v-for="genre in albumsGenre" :value="genre">{{ genre }}</option>
                </select>
                <span>selected: {{selected}} </span>
            </div>
            <!-- End Filter Select -->

            <!-- Start Albums Wrapper -->
            <div class="albums-wrapper">
                
                <!-- Start Single Album -->
                <div v-for="album in albumsList" class="album-container">
                    <div class="album">
                        <img :src="album.poster" alt="album.title">

                        <div class="album-info">
                            <div class="album-name">{{ album.title.toUpperCase() }}</div>
                            <div class="album-artist">
                                <div>{{ album.author }}</div>
                                <div>{{ album.year }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Album -->

            </div>
            <!-- End Albums Wrapper -->
        </main>
        <!-- END MAIN -->
    </div>


    <script src="js/script.js"></script>
</body>
</html>